﻿<%@ Page Title="" Language="C#" MasterPageFile="~/w_Sub_NAS.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AppNAS.GestorDeRestaurantes.p_questionario.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <script type="text/javascript">
        $(function () {
            $(window).load(function () {
                document.getElementById('ifr0').style.height = '2700px';
                document.getElementById('ifr0').style.width = '100%';
            });


        });
    </script>
    <iframe id="ifr0" src="https://pt.surveymonkey.com/r/KYSD6HT" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width: 100%; max-height: 100%" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></iframe>
</asp:Content>
