﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AppNAS.GestorDeRestaurantes.sistemapararestaurante.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta http-equiv="refresh" content="0; url=http://blog.gestorderestaurantes.com.br/2017/03/29/gestor-de-restaurantes/" />
    
</head>
<body>
</body>
</html>
