
a {
    text-decoration: none;
}

    a:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.header1 {
    text-align: center;
    width: 100%;
    margin-top: 6%;
}

    .header1 h1 {
        color: #fff;
        font-size: 40px;
        line-height: 25px;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
    }

.content {
    margin: 8% auto 0 auto;
    width: 75%;
}

.pricetag {
    border-right: 2px solid rgba(222, 222, 222, 0.82);
    width: 48.85%;
    background-color: #fff;
    position: relative;
    float: left;
}

    .pricetag:nth-child(4) {
        border-right: none;
    }

.content1 {
    background-color: #eae9e4;
    text-align: center;
    padding: 2em 0em 3em;
}

    .content1 h3 {
        font-size: 2.2em;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: #40829A;
        font-weight: 400;
    }

.content2 {
    position: absolute;
    top: 80px;
    left: 27%;
}

    .content2 h4 {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.8em;
        background-color: #698FA7;
        width: 200px;
        height: 80px;
        text-align: center;
        line-height: 2.8em;
        border-radius: 100px;
    }

.content3 {
    text-align: left;
    padding-left:15px;
    margin: 5em 0 4em;
}

    .content3 ul li {
        list-style: none;
    }

        .content3 ul li p {
            font-size: 1.1em;
            margin: 1em 0;
            color: #8A8A8A;
        }

.sign {
    margin: 3em 0 0;
}

.pricetag:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a.popup-with-zoom-anim {
    outline: none;
    border: none;
    text-decoration: none;
    border: 1px solid #40829A;
    border-radius: 4px;
    padding: 10px 50px;
    color: #40829A;
    font-size: 1.1em;
}

    a.popup-with-zoom-anim:hover {
        background-color: #3C6EA0;
        transition: all 0.5s ease-in-out;
        color: #fff;
    }

.pricetag:hover .content1 {
    background: #538BC3;
    border-right: none;
}

    .pricetag:hover .content1 h3 {
        color: #fff;
    }

.pricetag:hover a.popup-with-zoom-anim {
    background-color: #538BC3;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.content4 {
    background: #538BC3;
    border-right: none;
}

    .content4 h3 {
        color: #fff;
    }

a.sign1 {
    background-color: #538BC3;
    color: #fff;
}

.pricetag:hover .content2 h4, .content5 h4 {
    background-color: #88CCFA;
}
/*--pricing-grids--*/

#small-dialog h4 {
    margin: 10px 0;
}

#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
    background: white;
    padding: 10px 0 10px 0;
    text-align: left;
    max-width: 629px;
    margin: 40px auto;
    position: relative;
    text-align: center;
    border: 8px solid #00558A;
    height: 535px;
}
/*---start-pricing-tabels-----*/
.payment-online-form-left {
}

form li {
    list-style: none;
}

form ul {
    padding: 0;
}

h4.payment-head {
    font-size: 1.9em;
    color: #222222;
    padding: 0.5em 0;
    text-align: left;
    float: left;
}

.payment-online-form-left span {
    vertical-align: sub;
    margin-right: 30px;
}

.payment-online-form-left form {
    padding: 0 3%;
}

.payment-online-form-left input[type="text"] {
    padding: 1em 1em;
    color: #485460;
    width: 37%;
    margin: 0.5em 0;
    border: 1px solid;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    float: left;
    font-size: 0.9em;
    border-color: #EEE;
    -webkit-appearance: none;
}

input#datepicker {
    padding: 1em 1em 1em 1em;
}

.payment-online-form-left input[type="text"]:hover {
    border-color: #fa6e6f;
}

.text-box-dark {
}

.text-box-light {
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/calender.png) no-repeat 95% 50%;
    cursor: pointer;
    position: relative;
}

.payment-online-form-left ul li:first-child input[type="text"] {
    margin-right: 5%;
}

.payment-online-form-left input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
    border-color: #54CEB7;
    color: #3498DB;
}

.shipping {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -111px -26px;
}

.payment {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -154px -23px;
}

.payment-date-section {
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/calender.png) no-repeat #fff 50%;
}

.payment-sendbtns {
    float: right;
    margin: 1.2em 0 1em;
}

    .payment-sendbtns input[type="reset"] {
        background: #3498db;
        padding: 6px 50px;
        border: none;
        color: #FFF;
        cursor: pointer;
        font-size: 1.2em;
        font-family: 'Oswald', sans-serif;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        outline: none;
    }

        .payment-sendbtns input[type="reset"]:hover {
            color: #FFF;
            background: #2980b9;
        }

a.order {
    background: #37596F;
    padding: 6px 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
}

    a.order:hover {
        color: #fff;
        background: #16a085;
    }

.payment-sendbtns li {
    display: inline-block;
}

.payment-type li {
    display: inline-block;
}

.payment-online-form-right {
    background: #2B2937;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #1A1822;
}
/*-----*/
.get-started {
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/get.jpg) no-repeat 0px 0px;
    min-height: 400px;
    padding: 8% 0 0 0;
    color: #fff;
    background-size: cover;
    text-align: center;
}

    .get-started h4 {
        font-size: 1.5em;
        margin-bottom: 1em;
        font-weight: 400;
        padding: 0;
    }

    .get-started h3 {
        font-size: 2.8em;
        font-weight: 400;
        margin-bottom: 1em;
        padding: 0;
    }

    .get-started a {
        padding: 12px 18px;
        border: 1px solid #FF0426;
        font-size: 1.2em;
        color: #fff;
        outline: none;
        font-weight: 400;
        text-decoration: none;
        background: #f94877;
    }

        .get-started a:hover {
            background: transparent;
            border: 1px solid #f94877;
        }
/*-----*/
/*---start-checkbox----*/
input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox2 {
    display: none;
}

    input[type=checkbox].css-checkbox1 + label.css-label1 {
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: super;
        cursor: pointer;
        background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -188px -25px;
        margin-right: 8px;
    }

    input[type=checkbox].css-checkbox1:checked + label.css-label1 {
        background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -215px -25px;
    }

    input[type=checkbox].css-checkbox2 + label.css-label2 {
        height: 30px;
        width: 30px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: -20px 0px;
        vertical-align: super;
        cursor: pointer;
        background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -218px -24px;
    }

    input[type=checkbox].css-checkbox2:checked + label.css-label2 {
        background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -190px -24px;
    }

.visa {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -32px -28px;
}

.paypal {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://gestorderestaurantes.com.br/c_estilo/imagens/icon.png) no-repeat -71px -26px;
}

.payment-online-form-right {
    float: right;
    width: 30%;
    background: #2B2937;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #1A1822;
    padding-bottom: 2em;
}

    .payment-online-form-right a:hover {
        color: #1ABC9C;
    }

    .payment-online-form-right ul li {
        display: block;
        padding: 0.5em;
    }

        .payment-online-form-right ul li a {
            color: #9095AA;
        }

    .payment-online-form-right h4 {
        color: #FFF;
        font-size: 1em;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(144, 149, 170, 0.22);
        padding: 0.8em;
    }

    .payment-online-form-right ul {
        padding: 0px 1em;
    }

    .payment-online-form-right h5 {
        color: #FFF;
        padding: 0.5em 0.8em 0.4em;
        font-size: 1em;
    }

.payment-type {
    margin-top: 3%;
    text-align: left;
}

input[type=checkbox].css-checkbox3, input[type=checkbox].css-checkbox4, input[type=checkbox].css-checkbox5, input[type=checkbox].css-checkbox6 {
    display: none;
}

    input[type=checkbox].css-checkbox3 + label.css-label3 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://gestorderestaurantes.com.br/c_estilo/imagens/filter-bg.png);
    }

    input[type=checkbox].css-checkbox3:checked + label.css-label3 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox4 + label.css-label4 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://gestorderestaurantes.com.br/c_estilo/imagens/filter-bg.png);
    }

    input[type=checkbox].css-checkbox4:checked + label.css-label4 {
        background-position: 0px -38px;
    }

    input[type=checkbox].css-checkbox5 + label.css-label5 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 -38px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://gestorderestaurantes.com.br/c_estilo/imagens/filter-bg.png);
    }

    input[type=checkbox].css-checkbox5:checked + label.css-label5 {
        background-position: 0px 0px;
    }

    input[type=checkbox].css-checkbox6 + label.css-label6 {
        height: 22px;
        width: 21px;
        display: inline-block;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: 0 0px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url(http://gestorderestaurantes.com.br/c_estilo/imagens/filter-bg.png);
    }

    input[type=checkbox].css-checkbox6:checked + label.css-label6 {
        background-position: 0px -38px;
    }

/* start state */
.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #698FA7;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .mfp-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-content iframe {
    width: 100%;
    min-height: 500px;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

    .mfp-preloader a {
        color: #cccccc;
    }

        .mfp-preloader a:hover {
            color: white;
        }

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    background: #EEEEEE;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 32px;
    height: 32px;
    line-height: 17px;
    position: absolute;
    left: -6.5%;
    top: 42%;
    text-decoration: none;
    text-align: center;
    color: white;
    font-style: normal;
    font-size: 28px;
    outline: none;
    padding: 0 !important;
}

    .mfp-close:hover, .mfp-close:focus {
        opacity: 1;
    }

.mfp-close-btn-in .mfp-close {
    color: #333333;
    padding: 0 0 7px 0px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.image-top img {
    width: 100%;
}

.image-top p {
    text-align: justify;
    padding: 2% 0;
    font-size: 15px;
}

.image-top h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 16px 0px 0px 0px;
    color: #3F4244;
}

p.bottom {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
    color: #999;
    font-size: 14px;
}
/*--pricing-table--*/
.footer {
    margin: 4% 0;
    text-align: center;
}

    .footer p {
        font-size: 1em;
        color: #fff;
        line-height: 25px;
    }

    .footer a {
        color: #3C6EA0;
        text-decoration: none;
    }

        .footer a:hover {
            color: #fff;
            transition: all 0.5s ease-in-out;
        }
/*----*/

@media(max-width:1280px) {
    .pricetag {
        width: 48.8%;
    }

    #small-dialog2 h2 {
        font-size: 200%;
    }
}

@media(max-width:1024px) {
    .pricetag {
        width: 48.8%;
    }

    .content3 ul li p {
        font-size: 1em;
    }

    .content2 h4 {
        font-size: 1.5em;
        width: 160px;
        height: 70px;
        line-height: 3.0em;
    }

    .content2 {
        left: 21%;
        top: 23%;
    }

    .content3 {
        margin: 3em 0 3em;
    }

    .content1 h3 {
        font-size: 1.9em;
    }

    #small-dialog2 h2 {
        font-size: 200%;
    }
}

@media(max-width:768px) {
    .content {
        width: 95%;
    }

    .pricetag {
        width: 48.7%;
    }

    a.popup-with-zoom-anim {
        padding: 10px 40px;
    }

    .content1 h3 {
        font-size: 1.8em;
    }

    .content2 {
        top: 80px;
    }

    #small-dialog2 h2 {
        font-size: 130%;
    }
}

@media(max-width:640px) {
    .pricetag {
        width: 49.5%;
    }

        .pricetag:nth-child(2) {
            border-right: none;
        }

    .header1 h1 {
        font-size: 35px;
    }

    .content1 h3 {
        font-size: 1.6em;
    }

    .content2 {
        left: 21%;
        top: 80px;
    }

    #small-dialog2 h2 {
        font-size: 125%;
    }
}

@media(max-width:480px) {
    .content {
        width: 65%;
    }

    .pricetag {
        width: 100%;
        border: none;
        margin-bottom: 1.5em;
    }

    .content2 {
        left: 22%;
    }

    .header1 h1 {
        font-size: 27px;
    }

    .footer p {
        font-size: 0.9em;
    }

    .payment-online-form-left input[type="text"] {
        padding: 0.7em 1em;
        width: 85%;
    }

    #small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
        height: 788px;
    }

    body {
        background-size: cover;
    }

    .content1 h3 {
        font-size: 1.2em;
    }

    #small-dialog2 h2 {
        font-size: 100%;
    }
}

@media(max-width:414px) {
    .header1 h1 {
        font-size: 22px;
    }

    .content {
        width: 74%;
    }

    .content1 h3 {
        font-size: 1.5em;
    }

    .content1 {
        padding: 1em 0em 2em;
    }

    .content3 ul li p {
        font-size: 0.9em;
    }

    a.popup-with-zoom-anim {
        padding: 8px 28px;
        font-size: 1em;
    }

    .sign {
        margin: 2em 0 0;
    }

    .content3 {
        margin: 2.5em 0 2em;
    }

    .content2 h4 {
        font-size: 1.1em;
        width: 155px;
        height: 55px;
        line-height: 3.2em;
    }

    .content2 {
        left: 19%;
        top: 80px;
    }

    .header1 {
        margin-top: 10%;
    }

    #small-dialog2 h2 {
        font-size: 100%;
    }
}

.question {
    cursor: pointer;
    margin-bottom: 10px;
}

.required {
    color: red;
    font-weight: bold;
    text-align: left;
    display: block;
    visibility: visible !important;
}
.popup-with-zoom-anim2{
    padding-right:5px;
}