﻿@charset "UTF-8";
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
    display: inline-block;
}

    /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
    audio:not([controls]) {
        display: none;
        height: 0;
    }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

    /**
 * Re-set default cursor for disabled elements.
 */
    button[disabled], html input[disabled] {
        cursor: default;
    }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
}

    /**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Ubuntu', Verdana, sans-serif;
    color: #5D6D77;
}

a {
    text-decoration: none;
}

    a, a:visited {
        color: #3498DB;
    }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            color: #2ECC71;
        }

h2, h3, h4, h5, h6 {
    color: #34495E;
}

h1 {
    margin: 20px 0;
    font-weight: 300;
    font-size: 4em;
    line-height: 1;
    color: #2ECC71;
}

h2 {
    position: relative;
    font-size: 2.5em;
    margin-bottom: 18px;
}

    h2::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 2px;
        background-color: #2ECC71;
    }

h3 {
    margin: .6667em 0 0.5em;
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

@media (max-width: 47.9375em) {
    h1 {
        font-size: 8vw;
        margin: 3vw 0;
    }

    h2 {
        font-size: 6vw;
        margin: 2vw 0;
    }
}

h1 > a, h2 > a, h3 > a {
    display: none;
}

h1:hover > a, h2:hover > a, h3:hover > a {
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    height: 50px;
    width: 50px;
    background: url("../img/link.svg") no-repeat;
    overflow: hidden;
    text-indent: -999em;
}

.unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.light-text-dark-box p {
    color: #ECF0F1;
}

.light-text-dark-box a {
    color: #ECF0F1;
}

    .light-text-dark-box a:hover {
        color: white;
    }

/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.row {
    margin-left: -20px;
    *zoom: 1;
}

    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after {
        clear: both;
    }

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}

.span12 {
    width: 940px;
}

.span11 {
    width: 860px;
}

.span10 {
    width: 780px;
}

.span9 {
    width: 700px;
}

.span8 {
    width: 620px;
}

.span7 {
    width: 540px;
}

.span6 {
    width: 460px;
}

.span5 {
    width: 380px;
}

.span4 {
    width: 300px;
}

.span3 {
    width: 220px;
}

.span2 {
    width: 140px;
}

.span1 {
    width: 60px;
}

.offset12 {
    margin-left: 980px;
}

.offset11 {
    margin-left: 900px;
}

.offset10 {
    margin-left: 820px;
}

.offset9 {
    margin-left: 740px;
}

.offset8 {
    margin-left: 660px;
}

.offset7 {
    margin-left: 580px;
}

.offset6 {
    margin-left: 500px;
}

.offset5 {
    margin-left: 420px;
}

.offset4 {
    margin-left: 340px;
}

.offset3 {
    margin-left: 260px;
}

.offset2 {
    margin-left: 180px;
}

.offset1 {
    margin-left: 100px;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
        float: left;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
    }

        .row-fluid [class*="span"]:first-child {
            margin-left: 0;
        }

    .row-fluid .controls-row [class*="span"] + [class*="span"] {
        margin-left: 2.127659574468085%;
    }

    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .row-fluid .span11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }

    .row-fluid .span10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }

    .row-fluid .span9 {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
    }

    .row-fluid .span8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }

    .row-fluid .span7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }

    .row-fluid .span6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }

    .row-fluid .span5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }

    .row-fluid .span4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }

    .row-fluid .span3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }

    .row-fluid .span2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }

    .row-fluid .span1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }

    .row-fluid .offset12 {
        margin-left: 104.25531914893617%;
        *margin-left: 104.14893617021275%;
    }

        .row-fluid .offset12:first-child {
            margin-left: 102.12765957446808%;
            *margin-left: 102.02127659574467%;
        }

    .row-fluid .offset11 {
        margin-left: 95.74468085106382%;
        *margin-left: 95.6382978723404%;
    }

        .row-fluid .offset11:first-child {
            margin-left: 93.61702127659574%;
            *margin-left: 93.51063829787232%;
        }

    .row-fluid .offset10 {
        margin-left: 87.23404255319149%;
        *margin-left: 87.12765957446807%;
    }

        .row-fluid .offset10:first-child {
            margin-left: 85.1063829787234%;
            *margin-left: 84.99999999999999%;
        }

    .row-fluid .offset9 {
        margin-left: 78.72340425531914%;
        *margin-left: 78.61702127659572%;
    }

        .row-fluid .offset9:first-child {
            margin-left: 76.59574468085106%;
            *margin-left: 76.48936170212764%;
        }

    .row-fluid .offset8 {
        margin-left: 70.2127659574468%;
        *margin-left: 70.10638297872339%;
    }

        .row-fluid .offset8:first-child {
            margin-left: 68.08510638297872%;
            *margin-left: 67.9787234042553%;
        }

    .row-fluid .offset7 {
        margin-left: 61.70212765957446%;
        *margin-left: 61.59574468085106%;
    }

        .row-fluid .offset7:first-child {
            margin-left: 59.574468085106375%;
            *margin-left: 59.46808510638297%;
        }

    .row-fluid .offset6 {
        margin-left: 53.191489361702125%;
        *margin-left: 53.085106382978715%;
    }

        .row-fluid .offset6:first-child {
            margin-left: 51.063829787234035%;
            *margin-left: 50.95744680851063%;
        }

    .row-fluid .offset5 {
        margin-left: 44.68085106382979%;
        *margin-left: 44.57446808510638%;
    }

        .row-fluid .offset5:first-child {
            margin-left: 42.5531914893617%;
            *margin-left: 42.4468085106383%;
        }

    .row-fluid .offset4 {
        margin-left: 36.170212765957444%;
        *margin-left: 36.06382978723405%;
    }

        .row-fluid .offset4:first-child {
            margin-left: 34.04255319148936%;
            *margin-left: 33.93617021276596%;
        }

    .row-fluid .offset3 {
        margin-left: 27.659574468085104%;
        *margin-left: 27.5531914893617%;
    }

        .row-fluid .offset3:first-child {
            margin-left: 25.53191489361702%;
            *margin-left: 25.425531914893618%;
        }

    .row-fluid .offset2 {
        margin-left: 19.148936170212764%;
        *margin-left: 19.04255319148936%;
    }

        .row-fluid .offset2:first-child {
            margin-left: 17.02127659574468%;
            *margin-left: 16.914893617021278%;
        }

    .row-fluid .offset1 {
        margin-left: 10.638297872340425%;
        *margin-left: 10.53191489361702%;
    }

        .row-fluid .offset1:first-child {
            margin-left: 8.51063829787234%;
            *margin-left: 8.404255319148938%;
        }

    [class*="span"].hide, .row-fluid [class*="span"].hide {
        display: none;
    }

    [class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
        float: right;
    }

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

    .container:before, .container:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .container:after {
        clear: both;
    }

.container-fluid {
    *zoom: 1;
}

    .container-fluid:before, .container-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .container-fluid:after {
        clear: both;
    }

@media (max-width: 47.9375em) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: -20px;
        margin-right: -20px;
    }

    .container-fluid {
        padding: 0;
    }

    .dl-horizontal dt {
        float: none;
        clear: none;
        width: auto;
        text-align: left;
    }

    .dl-horizontal dd {
        margin-left: 0;
    }

    .container {
        width: auto;
    }

    .row-fluid {
        width: 100%;
    }

    .row, .thumbnails {
        margin-left: 0;
    }

        .thumbnails > li {
            float: none;
            margin-left: 0;
        }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }

    .span12, .row-fluid .span12 {
        width: 100%;
        box-sizing: border-box;
    }

    .row-fluid [class*="offset"]:first-child {
        margin-left: 0;
    }

    .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box;
    }

    .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
        display: inline-block;
        width: auto;
    }

    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 0;
    }

    .modal {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0;
    }

        .modal.fade {
            top: -100px;
        }

            .modal.fade.in {
                top: 20px;
            }
}

@media (max-width: 30em) {
    .nav-collapse {
        -webkit-transform: translate3d(0, 0, 0);
    }

    .page-header h1 small {
        display: block;
        line-height: 20px;
    }

    input[type="checkbox"], input[type="radio"] {
        border: 1px solid #ccc;
    }

    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }

    .form-horizontal .controls {
        margin-left: 0;
    }

    .form-horizontal .control-list {
        padding-top: 0;
    }

    .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }

    .media .pull-left, .media .pull-right {
        float: none;
        display: block;
        margin-bottom: 10px;
    }

    .media-object {
        margin-right: 0;
        margin-left: 0;
    }

    .modal {
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .modal-header .close {
        padding: 10px;
        margin: -10px;
    }

    .carousel-caption {
        position: static;
    }
}

@media (min-width: 48em) and (max-width: 61.1875em) {
    .row {
        margin-left: -20px;
        *zoom: 1;
    }

        .row:before, .row:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .row:after {
            clear: both;
        }

    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 20px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 724px;
    }

    .span12 {
        width: 724px;
    }

    .span11 {
        width: 662px;
    }

    .span10 {
        width: 600px;
    }

    .span9 {
        width: 538px;
    }

    .span8 {
        width: 476px;
    }

    .span7 {
        width: 414px;
    }

    .span6 {
        width: 352px;
    }

    .span5 {
        width: 290px;
    }

    .span4 {
        width: 228px;
    }

    .span3 {
        width: 166px;
    }

    .span2 {
        width: 104px;
    }

    .span1 {
        width: 42px;
    }

    .offset12 {
        margin-left: 764px;
    }

    .offset11 {
        margin-left: 702px;
    }

    .offset10 {
        margin-left: 640px;
    }

    .offset9 {
        margin-left: 578px;
    }

    .offset8 {
        margin-left: 516px;
    }

    .offset7 {
        margin-left: 454px;
    }

    .offset6 {
        margin-left: 392px;
    }

    .offset5 {
        margin-left: 330px;
    }

    .offset4 {
        margin-left: 268px;
    }

    .offset3 {
        margin-left: 206px;
    }

    .offset2 {
        margin-left: 144px;
    }

    .offset1 {
        margin-left: 82px;
    }

    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

        .row-fluid:before, .row-fluid:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .row-fluid:after {
            clear: both;
        }

        .row-fluid [class*="span"] {
            display: block;
            width: 100%;
            min-height: 30px;
            box-sizing: border-box;
            float: left;
            margin-left: 2.7624309392265194%;
            *margin-left: 2.709239449864817%;
        }

            .row-fluid [class*="span"]:first-child {
                margin-left: 0;
            }

        .row-fluid .controls-row [class*="span"] + [class*="span"] {
            margin-left: 2.7624309392265194%;
        }

        .row-fluid .span12 {
            width: 100%;
            *width: 99.94680851063829%;
        }

        .row-fluid .span11 {
            width: 91.43646408839778%;
            *width: 91.38327259903608%;
        }

        .row-fluid .span10 {
            width: 82.87292817679558%;
            *width: 82.81973668743387%;
        }

        .row-fluid .span9 {
            width: 74.30939226519337%;
            *width: 74.25620077583166%;
        }

        .row-fluid .span8 {
            width: 65.74585635359117%;
            *width: 65.69266486422946%;
        }

        .row-fluid .span7 {
            width: 57.18232044198895%;
            *width: 57.12912895262725%;
        }

        .row-fluid .span6 {
            width: 48.61878453038674%;
            *width: 48.56559304102504%;
        }

        .row-fluid .span5 {
            width: 40.05524861878453%;
            *width: 40.00205712942283%;
        }

        .row-fluid .span4 {
            width: 31.491712707182323%;
            *width: 31.43852121782062%;
        }

        .row-fluid .span3 {
            width: 22.92817679558011%;
            *width: 22.87498530621841%;
        }

        .row-fluid .span2 {
            width: 14.3646408839779%;
            *width: 14.311449394616199%;
        }

        .row-fluid .span1 {
            width: 5.801104972375691%;
            *width: 5.747913483013988%;
        }

        .row-fluid .offset12 {
            margin-left: 105.52486187845304%;
            *margin-left: 105.41847889972962%;
        }

            .row-fluid .offset12:first-child {
                margin-left: 102.76243093922652%;
                *margin-left: 102.6560479605031%;
            }

        .row-fluid .offset11 {
            margin-left: 96.96132596685082%;
            *margin-left: 96.8549429881274%;
        }

            .row-fluid .offset11:first-child {
                margin-left: 94.1988950276243%;
                *margin-left: 94.09251204890089%;
            }

        .row-fluid .offset10 {
            margin-left: 88.39779005524862%;
            *margin-left: 88.2914070765252%;
        }

            .row-fluid .offset10:first-child {
                margin-left: 85.6353591160221%;
                *margin-left: 85.52897613729868%;
            }

        .row-fluid .offset9 {
            margin-left: 79.8342541436464%;
            *margin-left: 79.72787116492299%;
        }

            .row-fluid .offset9:first-child {
                margin-left: 77.07182320441989%;
                *margin-left: 76.96544022569647%;
            }

        .row-fluid .offset8 {
            margin-left: 71.2707182320442%;
            *margin-left: 71.16433525332079%;
        }

            .row-fluid .offset8:first-child {
                margin-left: 68.50828729281768%;
                *margin-left: 68.40190431409427%;
            }

        .row-fluid .offset7 {
            margin-left: 62.70718232044199%;
            *margin-left: 62.600799341718584%;
        }

            .row-fluid .offset7:first-child {
                margin-left: 59.94475138121547%;
                *margin-left: 59.838368402492065%;
            }

        .row-fluid .offset6 {
            margin-left: 54.14364640883978%;
            *margin-left: 54.037263430116376%;
        }

            .row-fluid .offset6:first-child {
                margin-left: 51.38121546961326%;
                *margin-left: 51.27483249088986%;
            }

        .row-fluid .offset5 {
            margin-left: 45.58011049723757%;
            *margin-left: 45.47372751851417%;
        }

            .row-fluid .offset5:first-child {
                margin-left: 42.81767955801105%;
                *margin-left: 42.71129657928765%;
            }

        .row-fluid .offset4 {
            margin-left: 37.01657458563536%;
            *margin-left: 36.91019160691196%;
        }

            .row-fluid .offset4:first-child {
                margin-left: 34.25414364640884%;
                *margin-left: 34.14776066768544%;
            }

        .row-fluid .offset3 {
            margin-left: 28.45303867403315%;
            *margin-left: 28.346655695309746%;
        }

            .row-fluid .offset3:first-child {
                margin-left: 25.69060773480663%;
                *margin-left: 25.584224756083227%;
            }

        .row-fluid .offset2 {
            margin-left: 19.88950276243094%;
            *margin-left: 19.783119783707537%;
        }

            .row-fluid .offset2:first-child {
                margin-left: 17.12707182320442%;
                *margin-left: 17.02068884448102%;
            }

        .row-fluid .offset1 {
            margin-left: 11.32596685082873%;
            *margin-left: 11.219583872105325%;
        }

            .row-fluid .offset1:first-child {
                margin-left: 8.56353591160221%;
                *margin-left: 8.457152932878806%;
            }

    input, textarea, .uneditable-input {
        margin-left: 0;
    }

    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 20px;
    }

    input.span12, textarea.span12, .uneditable-input.span12 {
        width: 710px;
    }

    input.span11, textarea.span11, .uneditable-input.span11 {
        width: 648px;
    }

    input.span10, textarea.span10, .uneditable-input.span10 {
        width: 586px;
    }

    input.span9, textarea.span9, .uneditable-input.span9 {
        width: 524px;
    }

    input.span8, textarea.span8, .uneditable-input.span8 {
        width: 462px;
    }

    input.span7, textarea.span7, .uneditable-input.span7 {
        width: 400px;
    }

    input.span6, textarea.span6, .uneditable-input.span6 {
        width: 338px;
    }

    input.span5, textarea.span5, .uneditable-input.span5 {
        width: 276px;
    }

    input.span4, textarea.span4, .uneditable-input.span4 {
        width: 214px;
    }

    input.span3, textarea.span3, .uneditable-input.span3 {
        width: 152px;
    }

    input.span2, textarea.span2, .uneditable-input.span2 {
        width: 90px;
    }

    input.span1, textarea.span1, .uneditable-input.span1 {
        width: 28px;
    }
}

@media (min-width: 75em) {
    .row {
        margin-left: -30px;
        *zoom: 1;
    }

        .row:before, .row:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .row:after {
            clear: both;
        }

    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 30px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1170px;
    }

    .span12 {
        width: 1170px;
    }

    .span11 {
        width: 1070px;
    }

    .span10 {
        width: 970px;
    }

    .span9 {
        width: 870px;
    }

    .span8 {
        width: 770px;
    }

    .span7 {
        width: 670px;
    }

    .span6 {
        width: 570px;
    }

    .span5 {
        width: 470px;
    }

    .span4 {
        width: 370px;
    }

    .span3 {
        width: 270px;
    }

    .span2 {
        width: 170px;
    }

    .span1 {
        width: 70px;
    }

    .offset12 {
        margin-left: 1230px;
    }

    .offset11 {
        margin-left: 1130px;
    }

    .offset10 {
        margin-left: 1030px;
    }

    .offset9 {
        margin-left: 930px;
    }

    .offset8 {
        margin-left: 830px;
    }

    .offset7 {
        margin-left: 730px;
    }

    .offset6 {
        margin-left: 630px;
    }

    .offset5 {
        margin-left: 530px;
    }

    .offset4 {
        margin-left: 430px;
    }

    .offset3 {
        margin-left: 330px;
    }

    .offset2 {
        margin-left: 230px;
    }

    .offset1 {
        margin-left: 130px;
    }

    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

        .row-fluid:before, .row-fluid:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .row-fluid:after {
            clear: both;
        }

        .row-fluid [class*="span"] {
            display: block;
            width: 100%;
            min-height: 30px;
            box-sizing: border-box;
            float: left;
            margin-left: 2.564102564102564%;
            *margin-left: 2.5109110747408616%;
        }

            .row-fluid [class*="span"]:first-child {
                margin-left: 0;
            }

        .row-fluid .controls-row [class*="span"] + [class*="span"] {
            margin-left: 2.564102564102564%;
        }

        .row-fluid .span12 {
            width: 100%;
            *width: 99.94680851063829%;
        }

        .row-fluid .span11 {
            width: 91.45299145299145%;
            *width: 91.39979996362975%;
        }

        .row-fluid .span10 {
            width: 82.90598290598291%;
            *width: 82.8527914166212%;
        }

        .row-fluid .span9 {
            width: 74.35897435897436%;
            *width: 74.30578286961266%;
        }

        .row-fluid .span8 {
            width: 65.81196581196582%;
            *width: 65.75877432260411%;
        }

        .row-fluid .span7 {
            width: 57.26495726495726%;
            *width: 57.21176577559556%;
        }

        .row-fluid .span6 {
            width: 48.717948717948715%;
            *width: 48.664757228587014%;
        }

        .row-fluid .span5 {
            width: 40.17094017094017%;
            *width: 40.11774868157847%;
        }

        .row-fluid .span4 {
            width: 31.623931623931625%;
            *width: 31.570740134569924%;
        }

        .row-fluid .span3 {
            width: 23.076923076923077%;
            *width: 23.023731587561375%;
        }

        .row-fluid .span2 {
            width: 14.52991452991453%;
            *width: 14.476723040552828%;
        }

        .row-fluid .span1 {
            width: 5.982905982905983%;
            *width: 5.929714493544281%;
        }

        .row-fluid .offset12 {
            margin-left: 105.12820512820512%;
            *margin-left: 105.02182214948171%;
        }

            .row-fluid .offset12:first-child {
                margin-left: 102.56410256410257%;
                *margin-left: 102.45771958537915%;
            }

        .row-fluid .offset11 {
            margin-left: 96.58119658119658%;
            *margin-left: 96.47481360247316%;
        }

            .row-fluid .offset11:first-child {
                margin-left: 94.01709401709402%;
                *margin-left: 93.91071103837061%;
            }

        .row-fluid .offset10 {
            margin-left: 88.03418803418803%;
            *margin-left: 87.92780505546462%;
        }

            .row-fluid .offset10:first-child {
                margin-left: 85.47008547008548%;
                *margin-left: 85.36370249136206%;
            }

        .row-fluid .offset9 {
            margin-left: 79.48717948717949%;
            *margin-left: 79.38079650845607%;
        }

            .row-fluid .offset9:first-child {
                margin-left: 76.92307692307693%;
                *margin-left: 76.81669394435352%;
            }

        .row-fluid .offset8 {
            margin-left: 70.94017094017094%;
            *margin-left: 70.83378796144753%;
        }

            .row-fluid .offset8:first-child {
                margin-left: 68.37606837606839%;
                *margin-left: 68.26968539734497%;
            }

        .row-fluid .offset7 {
            margin-left: 62.393162393162385%;
            *margin-left: 62.28677941443899%;
        }

            .row-fluid .offset7:first-child {
                margin-left: 59.82905982905982%;
                *margin-left: 59.72267685033642%;
            }

        .row-fluid .offset6 {
            margin-left: 53.84615384615384%;
            *margin-left: 53.739770867430444%;
        }

            .row-fluid .offset6:first-child {
                margin-left: 51.28205128205128%;
                *margin-left: 51.175668303327875%;
            }

        .row-fluid .offset5 {
            margin-left: 45.299145299145295%;
            *margin-left: 45.1927623204219%;
        }

            .row-fluid .offset5:first-child {
                margin-left: 42.73504273504273%;
                *margin-left: 42.62865975631933%;
            }

        .row-fluid .offset4 {
            margin-left: 36.75213675213675%;
            *margin-left: 36.645753773413354%;
        }

            .row-fluid .offset4:first-child {
                margin-left: 34.18803418803419%;
                *margin-left: 34.081651209310785%;
            }

        .row-fluid .offset3 {
            margin-left: 28.205128205128204%;
            *margin-left: 28.0987452264048%;
        }

            .row-fluid .offset3:first-child {
                margin-left: 25.641025641025642%;
                *margin-left: 25.53464266230224%;
            }

        .row-fluid .offset2 {
            margin-left: 19.65811965811966%;
            *margin-left: 19.551736679396257%;
        }

            .row-fluid .offset2:first-child {
                margin-left: 17.094017094017094%;
                *margin-left: 16.98763411529369%;
            }

        .row-fluid .offset1 {
            margin-left: 11.11111111111111%;
            *margin-left: 11.004728132387708%;
        }

            .row-fluid .offset1:first-child {
                margin-left: 8.547008547008547%;
                *margin-left: 8.440625568285142%;
            }

    input, textarea, .uneditable-input {
        margin-left: 0;
    }

    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 30px;
    }

    input.span12, textarea.span12, .uneditable-input.span12 {
        width: 1156px;
    }

    input.span11, textarea.span11, .uneditable-input.span11 {
        width: 1056px;
    }

    input.span10, textarea.span10, .uneditable-input.span10 {
        width: 956px;
    }

    input.span9, textarea.span9, .uneditable-input.span9 {
        width: 856px;
    }

    input.span8, textarea.span8, .uneditable-input.span8 {
        width: 756px;
    }

    input.span7, textarea.span7, .uneditable-input.span7 {
        width: 656px;
    }

    input.span6, textarea.span6, .uneditable-input.span6 {
        width: 556px;
    }

    input.span5, textarea.span5, .uneditable-input.span5 {
        width: 456px;
    }

    input.span4, textarea.span4, .uneditable-input.span4 {
        width: 356px;
    }

    input.span3, textarea.span3, .uneditable-input.span3 {
        width: 256px;
    }

    input.span2, textarea.span2, .uneditable-input.span2 {
        width: 156px;
    }

    input.span1, textarea.span1, .uneditable-input.span1 {
        width: 56px;
    }

    .thumbnails {
        margin-left: -30px;
    }

        .thumbnails > li {
            margin-left: 30px;
        }

    .row-fluid .thumbnails {
        margin-left: 0;
    }
}

@media (max-width: 47.9375em) {
    .m-row [class*="m-span"] {
        float: left;
        margin-left: 2%;
    }

        .m-row [class*="m-span"]:first-child {
            margin-left: 0;
        }

    .m-row .m-span1 {
        width: 15%;
    }

    .m-row .m-span2 {
        width: 32%;
    }

    .m-row .m-span3 {
        width: 49%;
    }

    .m-row .m-span4 {
        width: 66%;
    }

    .m-row .m-span5 {
        width: 83%;
    }

    .m-row .m-span6 {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

pre {
    max-height: 30em;
}

img {
    max-width: 100%;
    height: auto;
}

/* lets have some constraints shall we */
.container-fluid {
    width: 93%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row.row--full {
    margin-left: 0;
}

ul ul {
    padding-left: 1.25em;
    margin: 0;
    list-style-type: circle;
}

li {
    line-height: 1.4;
}

.breathable-list li {
    line-height: 1.7;
}

.site-nav .site-nav__title {
    color: #ECF0F1;
}

    .site-nav .site-nav__title:first-child {
        margin-top: 0;
    }

.site-nav .btn {
    width: 100%;
}

.site-nav .site-nav__tray {
    -webkit-transition: .2s;
    transition: .2s;
    overflow: hidden;
    height: 300px;
    background-color: #34495E;
}

.site-nav .site-nav__tray-inner {
    padding: 30px 0;
}

.site-nav.collapsed .site-nav__tray {
    height: 0;
}

.lt-ie8 .site-nav.collapsed .site-nav__tray {
    display: none;
}

.site-nav .site-nav__band {
    position: relative;
}

    .site-nav .site-nav__band::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #34495E;
    }

.site-footer {
    margin-top: 2em;
    padding: 1em 0;
    background-color: #34495E;
}

.site-footer__credit {
    margin: 0;
    text-align: right;
}

nav > a {
    display: block;
    margin: 5px 0;
}

.demo-list .figure-wrap {
    position: relative;
    z-index: 1;
}

    .demo-list .figure-wrap, .demo-list .figure-wrap img {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: .1s ease;
        transition: .1s ease;
    }

.demo-list:hover .figure-wrap {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

    .demo-list:hover .figure-wrap img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    .demo-list:hover .figure-wrap:hover {
        z-index: 2;
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
    }

        .demo-list:hover .figure-wrap:hover img {
            -webkit-filter: none;
            filter: none;
        }

.demo-list .figure-wrap:nth-child(4n + 1) {
    margin-left: 0;
}

.demo-list .figure-wrap > a {
    display: block;
}

.demo-list .figure-wrap figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
}

.demo-link-container::before {
    content: '➜';
    color: #2ECC71;
    margin-right: 5px;
}

span.demo-link-container::before {
    margin-left: 5px;
}

.filter__label {
    margin: 0 0 3px;
}

.filter__search {
    margin: 5px 0;
}

.sort-options {
    margin-top: 10px;
}

#be-social h2 {
    margin-bottom: 32px;
}

.search-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

input.faq-search {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #95A5A6;
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1.125em;
    color: #95A5A6;
    -webkit-transition: .15s;
    transition: .15s;
}

    input.faq-search::-webkit-input-placeholder {
        color: #95A5A6;
        -webkit-transition: .15s;
        transition: .15s;
    }

    input.faq-search::-moz-input-placeholder {
        color: #95A5A6;
        transition: .15s;
    }

    input.faq-search:hover {
        outline: 0;
        color: #5D6D77;
        border-color: #5D6D77;
    }

        input.faq-search:hover::-webkit-input-placeholder {
            color: #5D6D77;
        }

        input.faq-search:hover::-moz-input-placeholder {
            color: #5D6D77;
        }

    input.faq-search:focus {
        outline: 0;
        color: #27AE60;
        border-color: #27AE60;
    }

        input.faq-search:focus::-webkit-input-placeholder {
            color: #27AE60;
        }

        input.faq-search:focus::-moz-input-placeholder {
            color: #27AE60;
        }

.question {
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

    .question.collapsed {
        height: 0 !important;
        margin: 0;
        border-width: 0;
    }

        .question.collapsed + .question {
            margin-top: 0;
        }

.question--unanswered {
    padding-top: 1.25em;
    border-top: 2px solid #2ECC71;
}

.question__title {
    margin-top: 0;
}

.question__answer {
    margin-bottom: 0;
}

@media (max-width: 47.9375em) {
    .demo-list + .demo-list {
        margin-top: 1em;
    }

    .figure-wrap:nth-child(odd) {
        margin-left: 0;
    }

    .figure-wrap:nth-child(n + 3) {
        margin-top: 1em;
    }

    .site-nav .btn {
        margin-bottom: 5px;
    }
}

.btn-group:before, .btn-group:after {
    content: " ";
    display: table;
}

.btn-group:after {
    clear: both;
}

.btn-group {
    *zoom: 1;
}

    .btn-group .btn {
        float: left;
        border-radius: 0;
    }

        .btn-group .btn:first-child {
            border-radius: 6px 0 0 6px;
        }

        .btn-group .btn:last-child {
            border-radius: 0 6px 6px 0;
        }

.btn, button {
    display: inline-block;
    padding: .75em .375em;
    -webkit-appearance: none;
    text-align: center;
    color: white;
    border-radius: .0625em;
    border: 0;
    background-color: #34495E;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

    .btn:hover, button:hover {
        background-color: #4a6885;
        text-decoration: none;
    }

    .btn.active, .btn:active, button.active, button:active {
        background-color: #2C3E50;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .btn:active, button:active {
        -webkit-transition: none;
        transition: none;
    }

.btn--warning {
    background-color: #E67E22;
}

    .btn--warning:hover {
        background-color: #ea9347;
    }

    .btn--warning.active, .btn--warning:active {
        background-color: #D35400;
    }

.btn--primary {
    background-color: #3498DB;
}

    .btn--primary:hover {
        background-color: #57aae1;
    }

    .btn--primary.active, .btn--primary:active {
        background-color: #3498DB;
    }

.btn--danger {
    background-color: #E74C3C;
}

    .btn--danger:hover {
        background-color: #eb6d60;
    }

    .btn--danger.active, .btn--danger:active {
        background-color: #E74C3C;
    }

.btn--go {
    background-color: #2ECC71;
}

    .btn--go:hover {
        background-color: #4cd787;
    }

    .btn--go.active, .btn--go:active {
        background-color: #2ECC71;
    }

.filter-group .btn {
    position: relative;
}

    .filter-group .btn.active:before, .filter-group .btn.active:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        -webkit-transition: .2s;
        transition: .2s;
    }

    .filter-group .btn:before {
        background-color: #2C3E50;
        border-radius: 50%;
    }

    .filter-group .btn:after {
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../img/check.svg);
    }

    .filter-group .btn.active:before, .filter-group .btn.active:after {
        opacity: 1;
    }

@media (max-width: 47.9375em) {
    .btn, button {
        font-size: .875em;
    }
}

@media (max-width: 30em) {
    .btn, button {
        font-size: .75em;
    }
}

.text-center {
    text-align: center;
}

.ib {
    display: inline-block;
}

.keep-ratio {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}

    .keep-ratio.four-three {
        padding-bottom: 75%;
    }

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}

.table-center-wrap {
    display: table;
    table-layout: fixed;
}

.table-center {
    display: table-cell;
    vertical-align: middle;
}

